node_modules
.idea
*.log

shopify.app.toml
/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
/.venv
.env
.env.*
/myenv
/faiss
/myenv
/extensions/*/dist
/test_product_catalog.parquet
# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
/catalogs

/shopify.app.toml
project_contents.txt
package-lock.json
prisma/migrations/
