<p>Alpha flow v103</p>

<template id="eva-assistant-chat-template">
  <div id="eva-assistant" class="invisible">
    <header id="eva-chat-header">
      <div class="header-left">
        <div class="custom-dropdown">
          <div class="dropdown-selected">En</div>
          <ul class="dropdown-list">
            <li class="dropdown-item" data-value="en" data-short="En">English</li>
            <li class="dropdown-item" data-value="ru" data-short="Ru">Russian</li>
            <li class="dropdown-item" data-value="de" data-short="De">German</li>
            <li class="dropdown-item" data-value="cz" data-short="Cs">Czech</li>
          </ul>
        </div>
        <button id="help-button" class="eva-chat-button-base">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 19H11V17H13V19ZM15.07 11.25L14.17 12.17C13.45 12.9 13 13.5 13 15H11V14.5C11 13.4 11.45 12.4 12.17 11.67L13.41 10.41C13.78 10.05 14 9.55 14 9C14 7.9 13.1 7 12 7C10.9 7 10 7.9 10 9H8C8 6.79 9.79 5 12 5C14.21 5 16 6.79 16 9C16 9.88 15.64 10.68 15.07 11.25Z" fill="#121212"/>
          </svg>
        </button>
      </div>

      <div class="header-center">
        <div class="logo">
          <img src="{{ 'eva-header-online.png' | asset_url }}" alt="Eva Assistant">
          <h1>Eva</h1>
        </div>
      </div>

      <div class="header-right">
        <div class="fold-button-wrapper">
          <button id="fold-chat-button" class="eva-chat-button-base">
            <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="6" y="21" width="20" height="2.5" fill="#121212" />
            </svg>
          </button>
        </div>
        <div class="cancel-chat-button-wrapper">
          <button id="cancel-chat-button" class="eva-chat-button-base">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.92 5.91998L18.5 4.5L12.21 10.8L5.91998 4.5L4.5 5.91998L10.8 12.21L4.5 18.5L5.91998 19.92L12.21 13.62L18.5 19.92L19.92 18.5L13.62 12.21L19.92 5.91998Z" fill="#121212"/>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <main id="eva-chat-main" class="full-width">
      <div id="eva-chat-loader">Loading...</div>

      <!-- Начальный экран -->
      <div id="initial-view" class="invisible full-width">
        <p>Hello,</p>
        <p>How can I help you?</p>

        <div class="options">
          <a class="btn"> What can you do? </a>
          <a class="btn"> Your best deal on vitamin C? </a>
          <a class="btn btn-short"> More </a>
        </div>
      </div>

      <div id="chat-view" class="invisible full-width"></div>
    </main>

    <div id="eva-footer-container">
      <footer id="eva-chat-footer" class="">
        <!-- Text Input Footer -->
        <div id="text-footer">
          <div class="tooltip-wrapper">
            <button id="record-voice-button" class="eva-chat-button-base">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25 25" fill="none">
                <circle cx="12.5" cy="12.5" r="12.5" fill="#121212" />
                <path
                  d="M12.5 5C12.7041 5.00003 12.9011 5.07497 13.0536 5.21061C13.2062 5.34625 13.3036 5.53316 13.3275 5.73588L13.3333 5.83338V19.1675C13.3331 19.38 13.2518 19.5843 13.106 19.7387C12.9602 19.8932 12.7609 19.9861 12.5488 19.9986C12.3368 20.011 12.128 19.942 11.9651 19.8057C11.8023 19.6694 11.6976 19.476 11.6725 19.265L11.6667 19.1675V5.83338C11.6667 5.61236 11.7545 5.40038 11.9107 5.24409C12.067 5.0878 12.279 5 12.5 5ZM9.16667 7.50015C9.38768 7.50015 9.59964 7.58796 9.75592 7.74425C9.9122 7.90054 10 8.11251 10 8.33354V16.6674C10 16.8884 9.9122 17.1004 9.75592 17.2567C9.59964 17.413 9.38768 17.5008 9.16667 17.5008C8.94565 17.5008 8.73369 17.413 8.57741 17.2567C8.42113 17.1004 8.33333 16.8884 8.33333 16.6674V8.33354C8.33333 8.11251 8.42113 7.90054 8.57741 7.74425C8.42113 7.90054 8.33333 8.11251 8.33333 8.33354V16.6674C8.33333 16.8884 8.42113 17.1004 8.57741 17.2567C8.73369 17.413 8.94565 17.5008 9.16667 17.5008C9.38768 17.5008 9.59964 17.413 9.75592 17.2567C9.9122 17.1004 10 16.8884 10 16.6674V8.33354C10 8.11251 9.9122 7.90054 9.75592 7.74425C9.59964 7.58796 9.38768 7.50015 9.16667 7.50015ZM15.8333 7.50015C16.0543 7.50015 16.2663 7.58796 16.4226 7.74425C16.5789 7.90054 16.6667 8.11251 16.6667 8.33354V16.6674C16.6667 16.8884 16.5789 17.1004 16.4226 17.2567C16.2663 17.413 16.0543 17.5008 15.8333 17.5008C15.6123 17.5008 15.4004 17.413 15.2441 17.2567C15.0878 17.1004 15 16.8884 15 16.6674V8.33354C15 8.11251 15.0878 7.90054 15.2441 7.74425C15.4004 7.58796 15.6123 7.50015 15.8333 7.50015ZM5.83333 10.0003C6.05435 10.0003 6.26631 10.0881 6.42259 10.2444C6.57887 10.4007 6.66667 10.6127 6.66667 10.8337V14.1672C6.66667 14.3883 6.57887 14.6002 6.42259 14.7565C6.26631 14.9128 6.05435 15.0006 5.83333 15.0006C5.61232 15.0006 5.40036 14.9128 5.24408 14.7565C5.0878 14.6002 5 14.3883 5 14.1672V10.8337C5 10.6127 5.0878 10.4007 5.24408 10.2444C5.40036 10.0881 5.61232 10.0003 5.83333 10.0003ZM19.1667 10.0003C19.3708 10.0003 19.5678 10.0753 19.7203 10.2109C19.8728 10.3466 19.9703 10.5335 19.9942 10.7362L20 10.8337V14.1672C19.9998 14.3796 19.9184 14.584 19.7726 14.7384C19.6268 14.8929 19.4275 14.9858 19.2155 14.9983C19.0035 15.0107 18.7947 14.9417 18.6318 14.8054C18.4689 14.669 18.3643 14.4757 18.3392 14.2647L18.3333 14.1672V10.8337C18.3333 10.6127 18.4211 10.4007 18.5774 10.2444C18.7337 10.0881 18.9457 10.0003 19.1667 10.0003Z"
                  fill="white" />
              </svg>
            </button>
            <span class="tooltip">Use voice mode</span>
          </div>

          <input type="text" id="query-input" placeholder="What can you do?">

          <button id="send-query-button" class="eva-chat-button-base">
            <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12.0001" r="12" transform="rotate(180 12 12.0001)" fill="#121212" />
              <path d="M12.0002 17.3333V6.66666M12.0002 6.66666L7.3335 11.3333M12.0002 6.66666L16.6668 11.3333"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          <button id="cancel-waiting-button" class="invisible">
            <svg width="26" height="26" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 8.85652 0.737498 10.637 2.05025 11.9497C3.36301 13.2625 5.14348 14 7 14C8.85652 14 10.637 13.2625 11.9497 11.9497C13.2625 10.637 14 8.85652 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0ZM5 4.5C4.86739 4.5 4.74021 4.55268 4.64645 4.64645C4.55268 4.74021 4.5 4.86739 4.5 5V9C4.5 9.13261 4.55268 9.25979 4.64645 9.35355C4.74021 9.44732 4.86739 9.5 5 9.5C5.13261 9.5 5.25979 9.44732 5.35355 9.35355C5.44732 9.25979 5.5 9.13261 5.5 9V5C5.5 4.86739 5.44732 4.74021 5.35355 4.64645C5.25979 4.55268 5.13261 4.5 5 4.5ZM9.5 5V9C9.5 9.13261 9.44732 9.25979 9.35355 9.35355C9.25979 9.44732 9.13261 9.5 9 9.5C8.86739 9.5 8.74021 9.44732 8.64645 9.35355C8.55268 9.25979 8.5 9.13261 8.5 9V5C8.5 4.86739 8.55268 4.74021 8.64645 4.64645C8.74021 4.55268 8.86739 4.5 9 4.5C9.13261 4.5 9.25979 4.55268 9.35355 4.64645C9.44732 4.74021 9.5 4.86739 9.5 5Z"
                fill="#121212" />
            </svg>
          </button>
        </div>

        <!-- Voice Input Footer -->
        <div id="voice-footer" class="invisible">
          <button id="back-text" class="eva-chat-button-base">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 18L9 12L15 6" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <button id="record-voice-button" class="eva-chat-button-base">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25 25" fill="none">
              <circle cx="12.5" cy="12.5" r="12.5" fill="#121212" />
              <path
                d="M12.5 5C12.7041 5.00003 12.9011 5.07497 13.0536 5.21061C13.2062 5.34625 13.3036 5.53316 13.3275 5.73588L13.3333 5.83338V19.1675C13.3331 19.38 13.2518 19.5843 13.106 19.7387C12.9602 19.8932 12.7609 19.9861 12.5488 19.9986C12.3368 20.011 12.128 19.942 11.9651 19.8057C11.8023 19.6694 11.6976 19.476 11.6725 19.265L11.6667 19.1675V5.83338C11.6667 5.61236 11.7545 5.40038 11.9107 5.24409C12.067 5.0878 12.279 5 12.5 5ZM9.16667 7.50015C9.38768 7.50015 9.59964 7.58796 9.75592 7.74425C9.9122 7.90054 10 8.11251 10 8.33354V16.6674C10 16.8884 9.9122 17.1004 9.75592 17.2567C9.59964 17.413 9.38768 17.5008 9.16667 17.5008C8.94565 17.5008 8.73369 17.413 8.57741 17.2567C8.42113 17.1004 8.33333 16.8884 8.33333 16.6674V8.33354C8.33333 8.11251 8.42113 7.90054 8.57741 7.74425C8.42113 7.90054 8.33333 8.11251 8.33333 8.33354V16.6674C8.33333 16.8884 8.42113 17.1004 8.57741 17.2567C8.73369 17.413 8.94565 17.5008 9.16667 17.5008C9.38768 17.5008 9.59964 17.413 9.75592 17.2567C9.9122 17.1004 10 16.8884 10 16.6674V8.33354C10 8.11251 9.9122 7.90054 9.75592 7.74425C9.59964 7.58796 9.38768 7.50015 9.16667 7.50015ZM15.8333 7.50015C16.0543 7.50015 16.2663 7.58796 16.4226 7.74425C16.5789 7.90054 16.6667 8.11251 16.6667 8.33354V16.6674C16.6667 16.8884 16.5789 17.1004 16.4226 17.2567C16.2663 17.413 16.0543 17.5008 15.8333 17.5008C15.6123 17.5008 15.4004 17.413 15.2441 17.2567C15.0878 17.1004 15 16.8884 15 16.6674V8.33354C15 8.11251 15.0878 7.90054 15.2441 7.74425C15.4004 7.58796 15.6123 7.50015 15.8333 7.50015ZM5.83333 10.0003C6.05435 10.0003 6.26631 10.0881 6.42259 10.2444C6.57887 10.4007 6.66667 10.6127 6.66667 10.8337V14.1672C6.66667 14.3883 6.57887 14.6002 6.42259 14.7565C6.26631 14.9128 6.05435 15.0006 5.83333 15.0006C5.61232 15.0006 5.40036 14.9128 5.24408 14.7565C5.0878 14.6002 5 14.3883 5 14.1672V10.8337C5 10.6127 5.0878 10.4007 5.24408 10.2444C5.40036 10.0881 5.61232 10.0003 5.83333 10.0003ZM19.1667 10.0003C19.3708 10.0003 19.5678 10.0753 19.7203 10.2109C19.8728 10.3466 19.9703 10.5335 19.9942 10.7362L20 10.8337V14.1672C19.9998 14.3796 19.9184 14.584 19.7726 14.7384C19.6268 14.8929 19.4275 14.9858 19.2155 14.9983C19.0035 15.0107 18.7947 14.9417 18.6318 14.8054C18.4689 14.669 18.3643 14.4757 18.3392 14.2647L18.3333 14.1672V10.8337C18.3333 10.6127 18.4211 10.4007 18.5774 10.2444C18.7337 10.0881 18.9457 10.0003 19.1667 10.0003Z"
                fill="white" />
              </svg>
            </button>
          <button id="stop-voice-button" class="eva-chat-button-base">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6H18V18H6V6Z" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <button id="mute-voice-button" class="eva-chat-button-base">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 5L6 9H3v6h3l6 4v-14zm-2 10l-4-3H5v-2h1l4-3v8z" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <button id="cancel-voice" class="eva-chat-button-base">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.92 5.91998L18.5 4.5L12.21 10.8L5.91998 4.5L4.5 5.91998L10.8 12.21L4.5 18.5L5.91998 19.92L12.21 13.62L18.5 19.92L19.92 18.5L13.62 12.21L19.92 5.91998Z" fill="#121212"/>
            </svg>
          </button>
        </div>
      </footer>
    </div>
  </div>
</template>